$bg: url('https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHByb2Zlc3Npb25hbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA=');

.bg{

    background-size: cover;
    padding: 15%;

}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.1);
    width: 70%;
}